{% extends 'FrontBundle::layout.html.twig' %}

{% block content %}
    <section class="breadcrumb-area" style="background-image: url(bundles/front/images/resources/breadcrumb-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs">
                        <h1>Profile</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End breadcrumb area-->

    <!--Start Checkout area-->
    <section class="checkout-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="form billing-info">
                        <div class="sec-title pdb-50">
                            <h1>Info Personnel</h1>
                            <span class="border"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-center">
                                <p>Image profile</p>
                                {% thumbnail user.image, 'small' %}
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <p class="labe">Nom d'utilisateur</p>
                                <p>{{ user.username }}</p>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <p class="labe">Prénom</p>
                                <p>{{ user.personalInfo.firstname }}</p>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <p class="labe">Nom</p>
                                <p>{{ user.personalInfo.lastname }}</p>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <p class="labe">Date de naissance</p>
                                <p>{{ user.personalInfo.birthDate | date('d/m/YY') }}</p>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <p class="labe">Email</p>
                                <p>{{ user.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="table">
                        <div class="sec-title">
                            <h1>Adresse</h1>
                            <span class="border"></span>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-xs-12">
                                <p class="labe">Numéro de rue</p>
                                <p>{{ user.address.streetNumber }}</p>
                            </div>
                            <div class="col-sm-10 col-xs-12">
                                <p class="labe">Route</p>
                                <p>{{ user.address.address }}</p>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <p class="labe">Etat</p>
                                <p>{{ user.address.area }}</p>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <p class="labe">Ville</p>
                                <p>{{ user.address.city }}</p>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <p class="labe">Code postale</p>
                                <p>{{ user.address.postalcode }}</p>
                            </div>
                            <div class="col-sm-6 col-xs-12">
                                <p class="labe">Pays</p>
                                <p>{{ user.address.country }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="table">
                        <div class="sec-title">
                            <h1>Plus d'information</h1>
                            <span class="border"></span>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <p class="labe">Biographie</p>
                                <p>{{ user.personalInfo.biography }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row bottom">
                <div class="col-lg-12 col-md-12">
                    <div class="cart-total">
                        <div class="payment-options">
                            <button class="btn-block thm-btn bgclr-1" type="submit">Modifier profile</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Checkout area-->
{% endblock %}
