{% extends '@Front/layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}| Inscription{% endblock %}
{% block content %}
    <!--Start breadcrumb area-->
    <section class="breadcrumb-area" style="background-image: url(/bundles/front/images/resources/breadcrumb-bg.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumbs">
                        <h1>Inscription</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End breadcrumb area-->

    <!--Start login register area-->
    <section class="login-register-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-0">
                    <div class="form">
                        <div class="sec-title">
                            <h1>Inscription</h1>
                            <span class="border"></span>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                                <div class="col-md-12">
                                    <div class="input-field">
                                        {{ form_widget(form.username) }}
                                        <div class="icon-holder">
                                            <i class="fa fa-user" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-field">
                                        {{ form_widget(form.email) }}
                                        <div class="icon-holder">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-field">
                                        {{ form_widget(form.plainPassword.first) }}
                                        <div class="icon-holder">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input-field">
                                        {{ form_widget(form.plainPassword.second) }}
                                        <div class="icon-holder">
                                            <i class="fa fa-eye" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-3 col-sm-4 col-xs-12">
                                            <button class="thm-btn bgclr-1" type="submit">Inscription</button>
                                        </div>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End login register area-->
{% endblock %}